# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\NingCode\Java\Java_demos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
